@import 'variables';
@import 'mixins';

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;
  font-size: 18px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-min-height;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    background: #f8f9fa;
    border: 1px solid $border-color;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    background: #f8f9fa;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
  }

  .cell {
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    padding: 5px;
    color: #111;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    white-space: nowrap;
    outline: none;
    overflow: hidden;

    &.selected {
      z-index: 2;
      border: 2.5px solid #3c74ff;
      outline: none;
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #3c74ff;
    opacity: 0;
    z-index: 10;

    &:hover {
      opacity: 1 !important;
    }
  }

  .col-resize {
    top: 0;
    width: 6px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 6px;

    &:hover {
      cursor: row-resize;
    }
  }
}
